<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Назначить администратора</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/add}">
    <label for="person">Выберите человека:</label>
    <select th:object="${person}" th:field="*{id}" id="person">
        <option th:each="person : ${people}" th:value="${person.getId()}"
        th:text="${person.getName()}"></option>
    </select>

    <input type="submit" value="Назначить админом" />
</form>

</body>
</html>